<header class="header-large bg-dark py-3">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <h2 class="navbar-brand" href="#">ブックマーク一覧</h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item my-2"><%= link_to '投稿一覧', comments_path, class: "text-white mx-2" %></li>
        <li class="nav-item my-2"><%= link_to '記事一覧に戻る', articles_path, class: "text-white mx-2" %></li>
        <li class="nav-item my-2"><%= link_to 'トップページに戻る', root_path, class: "text-white mx-2" %></li>
        <li class="nav-item my-2 mx-2 text-white"><%= current_user.username %></li>
      </ul>
    </div>
  </div>
</nav>
</header>

<div class="album py-5 bg-light">
  <div class="container"> 
    <div class="row">
      <% @bookmarks.each do |bookmark| %>
        <div class="card flex-md-row mb-4 shadow-sm">
          <div class="col-md-4">
            <% if bookmark.article.urlToImage.present? %>
              <img src="<%= bookmark.article.urlToImage %>" alt="Article image" class="w-100 h-auto">
            <% else %>
              <%= image_tag 'default_image.png', alt: "Default image", class: "w-100 h-auto" %>
            <% end %>
          </div>
          <div class="col-md-8">
            <div class="card-body d-flex flex-column justify-content-between">
              <h5 class="mb-0">
                <%= link_to bookmark.article.title, article_path(url_to_hash(bookmark.article.url)), class: "text-dark" %>
              </h5>
              <div class="d-flex justify-content-between align-items-center mt-2">
                <%= button_to 'ブックマーク解除', bookmark_path(bookmark), method: :delete, data: { confirm: 'このブックマークを削除しますか？' }, class: "btn btn-outline-danger" %>
                <small class="text-muted">ブックマークした日時: <%= bookmark.created_at.strftime('%Y年%m月%d日 %H:%M') %></small>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<footer class="p-3  bg-dark text-white">
    <div class="container">
        <p class = "text-right">
          <a href="#" class="text-white">ページトップへ</a>
        </p>
    </div>
</footer>
