<header class="header-large bg-dark py-3">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <h2 class="navbar-brand" href="#">投稿一覧</h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
  <li class="nav-item my-2"><%= link_to 'ブックマーク一覧', bookmarks_path, class: "nav-link text-white mx-2" %></li>
  <li class="nav-item my-2"><%= link_to '記事一覧に戻る', articles_path, class: "nav-link text-white mx-2" %></li>
  <li class="nav-item my-2"><%= link_to 'トップページに戻る', root_path, class: "nav-link text-white mx-2" %></li>
  <li class="nav-item my-2"><span class="nav-link text-white mx-2" style="cursor: default;"><%= current_user.username %></span></li>
</ul>
    </div>
  </div>
</nav>
</header>

<div class="container mt-4">
  <% @group_comments.each do |article, grouped_comments| %>
    <div class="card mb-4">
      <div class="row no-gutters">
        <% if article.urlToImage.present? %>
          <div class="col-md-4">
            <img src="<%= article.urlToImage %>" alt="Article image" class="img-fluid" />
          </div>
        <% else %>
          <div class="col-md-4">
            <%= image_tag '/images/car3_gray.png', alt: '車のイラスト', class: 'img-fluid' %>
          </div>  
        <% end %>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="mt-0"><%= link_to article.title, article_path(url_to_hash(article.url)),
             class: "text-dark" %></h5>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <% grouped_comments.each do |comment| %>
          <div class="media mb-3">
            <div class="media-body">
              <% if comment.user %>
                <h5 class="mt-0"><%= comment.user.username %>さん</h5>
              <% end %>
              <p><%= comment.content %></p>
              <%= button_to 'コメント削除', comment_path(comment), class: "btn btn-outline-danger", method: :delete, data: { turbo: false }, form: { onSubmit: "return check()" } %>
              <small class="text-muted"><%= comment.created_at.strftime('%Y-%m-%d %H:%M:%S') %></small>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<footer class="p-3  bg-dark text-white">
    <div class="container">
        <p class = "text-right">
          <a href="#" class="text-white">ページトップへ</a>
        </p>
    </div>
</footer>
