<header class="header-large bg-dark py-3">
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <div class="row w-100">        
        <div class="col-12 col-lg-8 mb-3">
          <%= form_tag articles_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :q_title_or_content_cont, nil, class: "form-control mr-2" %>
            <%= submit_tag "検索", class: "btn btn-primary" %>
          <% end %>
        </div>
        <div class="col-lg-4 d-none d-lg-flex justify-content-end">
          <span class="text-white"><%= current_user.username %></span>
        </div>
      </div>
      <div class="row w-100">
        <div class="col-12 col-lg-8 d-flex justify-content-start">
          <%= link_to "トップページに戻る", homes_index_path, class: "text-white" %>
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <% @articles.each do |article| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <% if article["urlToImage"].present? %> 
                <%= image_tag article["urlToImage"], :size =>'240x160' %>
            <% else %>
                <p>イラスト屋の画像を添付</p>
            <% end %>
            <div class="card-body">
              <p class="card-text">
                <%= article["title"] %>
              </p>
                <%= link_to "詳細を見る", article_path(url_to_hash(article["url"])) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<footer class="p-3  bg-dark text-white">
    <div class="container">
        <p class = "text-right">
          <a href="#" class="text-white">ページトップへ</a>
        </p>
    </div>
</footer>
