<h1>Car News</h1>
<%= link_to "トップページに戻る", homes_index_path %>

<%= form_tag articles_path, method: :get do %>
  <%= label_tag :q_title_or_content_cont, "検索:" %>
  <%= text_field_tag :q_title_or_content_cont %>
  <%= submit_tag "検索" %>
<% end %>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <% @articles.each do |article| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <% if article["urlToImage"].present? %> 
                <%= image_tag article["urlToImage"], :size =>'240x160' %>
            <% else %>
                <p>イラスト屋の画像を添付</p>
            <% end %>
            <div class="card-body">
              <p class="card-text">
                <%= article["title"] %>
              </p>
                <%= link_to "詳細を見る", article_path(url_to_hash(article["url"])) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
