<header class="header-large bg-dark py-3">
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <div class="row w-100">        
        <div class="col-12 col-lg-8 mb-3">
          <%= form_tag articles_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :q_title_or_content_cont, nil, class: "form-control mr-2" %>
            <%= submit_tag "検索", class: "btn btn-primary" %>
          <% end %>
        </div>
        <div class="col-lg-4 d-none d-lg-flex justify-content-end">
          <span class="text-white"><%= current_user.username %></span>
        </div>
      </div>
      <div class="row w-100">
        <div class="col-12 col-lg-8 d-flex justify-content-start">
          <%= link_to "トップページに戻る", homes_index_path, class: "text-white" %>
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <% @articles.each do |article| %>
        <div class="col-md-4 d-flex align-items-stretch">
          <div class="card mb-4 shadow-sm d-flex flex-column">
            <% if article["urlToImage"].present? %> 
                <%= image_tag article["urlToImage"], class: 'img-fluid' %>
            <% else %>
                <%= image_tag '/images/car3_gray.png', alt: '車のイラスト', class: 'img-fluid' %>
            <% end %>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title"><%= article["title"] %></h5>
              <p class="mb-1 text-muted">
                <%= Time.parse(article['publishedAt']).strftime('%Y年%m月%d日') %>
              </p>
              <%= link_to "詳細を見る", article_path(url_to_hash(article["url"])) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



<style>
  .card-img-top{
    height: 160px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-img-top img {
    width: 100%; 
  }
</style>

<footer class="p-3  bg-dark text-white">
    <div class="container">
        <p class = "text-right">
          <a href="#" class="text-white">ページトップへ</a>
        </p>
    </div>
</footer>
