<h1>Car News</h1>

<% @articles.each do |article| %>
  <div class="article">
    <h2><%= article["title"] %></h2>
    <p><%= article["description"] %></p>
    <img src="<%= article["urlToImage"] %>" alt="<%= article["title"] %>">
    <p><a href="<%= article["url"] %>" target="_blank">Read more</a></p>
  </div>
<% end %>
