<div class="container mt-4">
    <div class="card">  
        <h1><%= @article["title"] %></h1>
        <img src="<%= @article["urlToImage"] %>" alt="Article image" />
        <p><%= @article["content"] %></p>
        <p><%= @article["description"] %></p>
        <a href="<%= @article["url"] %>">Read more</a>
        <%= link_to "記事一覧に戻る", articles_index_path %>
        <%= button_to "Bookmark", bookmarks_path(article_hashed_url: @article["hashed_url"], title: @article["title"], content: @article["content"], urlToImage: @article["urlToImage"],url: @article["url"]), method: :post %>
        
        <div class="mt-4">
        <h3>コメントを追加</h3>
        <% if @actual_article %>
            <%= form_with(model: [ @actual_article, @comment ], local: true) do |form| %>
            <div class="field">
                <%= form.label :content, "コメント" %>
                <%= form.text_area :content %>
            </div>
            <div class="actions">
                <%= form.submit "コメントを投稿" %>
            </div>
            <% end %>
        <% else %>
                <p>この記事はデータベースに保存されていません。</p>
        <% end %>
</div>
    </div>
</div>
