<% if user_signed_in? %>
<!doctype html>
<html lang="ja" >
  <head>
    <title>繧｢繝ｫ繝舌Β繧ｵ繝ｳ繝励Ν for Bootstrap ﾂｷ Bootstrap</title>
  </head>
  <body >
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
  <div class="container">
    <span class="skiplink-text">Skip to main content</span>
  </div>
</a>

<header class="header-large bg-dark">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand">CarInfomation</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" 
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item my-2"><%= link_to '投稿一覧', comments_path, class: "text-white mx-2" %></li>
          <li class="nav-item my-2"><%= link_to 'ブックマーク一覧', bookmarks_path, class: "text-white mx-2" %></li>
          <li class="nav-item my-2"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-white mx-2" %></li>
          <li class="nav-item my-2"><span class="mx-2 text-white"><%= current_user.username %></span></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<style>
.header-large {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
</style>



<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <!-- <h1 class="jumbotron-heading">Album example</h1> -->
      <h1 class="jumbotron-heading">車をもっと知ろう</h1>
      <!-- <p class="lead text-muted">Something short and leading about the collection below窶琶ts contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p> -->
      <p class="lead text-muted">当アプリは車の情報を素早く検索、みんなと共有できる特化型の情報検索アプリです</p>
      <p>
        <%= link_to "現在の最新ニュースを確認する",articles_index_path,class:"btn btn-primary my-2"%>
      </p>
    </div>
  </section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <% @articles.each do |article| %>
        <div class="col-12 mb-3">
          <div class="card flex-md-row">
            <div class="col-md-4">             
              <img src="<%= article['urlToImage'] %>" alt="イラスト挿入" class="w-100 h-auto">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="mb-0">
                  <a class="text-dark" href="<%= article['url'] %>"><%= article['title'] %></a>
                </h5>
                <p class="mb-1 text-muted">
                   <%= Time.parse(article['publishedAt']).strftime('%Y年%m月%d日') %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

</main>

<footer class="p-3  bg-dark text-white">
    <div class="container">
        <p class = "text-right">
          <a href="#" class="text-white">ページトップへ</a>
        </p>
    </div>
</footer>
  </body>
</html>

<% else %>

<!doctype html>
<html lang="ja" >
  <head>
    <title>繧｢繝ｫ繝舌Β繧ｵ繝ｳ繝励Ν for Bootstrap ﾂｷ Bootstrap</title>
  </head>
  <body >
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
  <div class="container">
    <span class="skiplink-text">Skip to main content</span>
  </div>
</a>

<header class="header-large bg-dark">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand">CarInfomation</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" 
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item my-2"><%= link_to "ログイン", "/users/sign_in", class: "text-white mx-2" %></li>
          <li class="nav-item my-2"><%= link_to "新規登録", "/users/sign_up", class: "text-white mx-2" %></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<style>
.header-large {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
</style>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <!-- <h1 class="jumbotron-heading">Album example</h1> -->
      <h1 class="jumbotron-heading">車をもっと知ろう</h1>
      <!-- <p class="lead text-muted">Something short and leading about the collection below窶琶ts contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p> -->
      <p class="lead text-muted">当アプリは車の情報を素早く検索、みんなと共有できる特化型の情報検索アプリです</p>
      <p>
        <%= link_to "現在の最新ニュースを確認する",articles_index_path,class:"btn btn-primary my-2"%>
      </p>
    </div>
  </section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <% @articles.each do |article| %>
        <div class="col-12 mb-3">
          <div class="card flex-md-row">
            <div class="col-md-4">             
              <img src="<%= article['urlToImage'] %>" alt="イラスト挿入" class="w-100 h-auto">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="mb-0">
                  <a class="text-dark" href="<%= article['url'] %>"><%= article['title'] %></a>
                </h5>
                <p class="mb-1 text-muted">
                   <%= Time.parse(article['publishedAt']).strftime('%Y年%m月%d日') %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

</main>

<footer class="p-3  bg-dark text-white">
    <div class="container">
        <p class = "text-right">
          <a href="#" class="text-white">ページトップへ</a>
        </p>
    </div>
</footer>
  </body>
</html>
<% end %>
